@charset "UTF-8";

#cssmenu{

	position: fixed;
	background: black;
	width: 100%;

	padding: 30px;
	
	font-size: 16px;
	
	ul li{
		float: left;
		padding-left: 50px;
		display: inline-block;
		text-decoration: none;
		color: white;
		
		&.active{
			a, a:active, a:hover, a:focus, a:visited{
				color: #F8ED41;
				outline: none;
				text-decoration: none;
			}
		}

		a, a:active, a:hover, a:focus, a:visited{
			outline: none;
			text-decoration: none;
		}
		
	}
	
	a:active, a:hover, a:focus,a {
 	 outline: none;
	}

	.navigate{
		float: left;	
	}
	
	.account{
		float: right;
		padding-right: 30px;
	}
	
}

/* Style The Dropdown Button */
.dropbtn {
    /*background-color: #4CAF50;*/
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color:black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    background-color:black;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f9f9f9;*/
    background-color:black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color:white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1;
	color:black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    color:black;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color:black;
}
