@charset "UTF-8";

#cssmenu{

	position: fixed;
	background: black;
	width: 100%;

	padding: 30px;
	
	font-size: 16px;
	
	ul li{
		float: left;
		padding-left: 50px;
		display: inline-block;
		text-decoration: none;
		color: white;
		
		&.active{
			a{
				color: #F8ED41;
			}
		}
		
	}
	
	.navigate{
		float: left;	
	}
	
	.account{
		float: right;
		padding-right: 30px;
	}
	
}
