.parameters_view{
	
	.parameters{
	
		border-bottom: 2px solid black;
		padding-bottom: 20px;
		margin-bottom: 50px;
	
		th {
			text-align: center;
		}
	
	}
	
	.field.input{
			
			padding: 10px;
			margin: 15px;
			
	}
	
}