.search-in-allocine{

	@-webkit-keyframes hide-movies {
	   	0% {
			opacity: 1; 
	  	}
	
		100% {
			opacity: 0;
		}
	  
	}

	@keyframes hide-movies {
	   0% {
		margin-top: 3px; 
	  }
	
	  30% {
	    margin-top: 0px;
	  }
	  
	  100% {
	    margin-top: 0px;
	  }
	}

	

	.result{
	
		overflow : hidden;
		margin-top: 30px;
		
		&.hide-anim{
			 -webkit-animation: hide-movies 2s;
			  animation: hide-movies 2s;
			  animation-fill-mode:forwards;
			  -webkit-animation-fill-mode:forwards;
		}
		
		.movie{
		
			float: left;
			overflow : hidden;
			display:inline-block;
			width: 180px;
			margin-left : 5px;
			margin-right : 5px; 
			margin-bottom: 10px; 
			
			.title{
			
				& > h2 {
					font-size: 20px;
					text-align: center;
				}
			}
		
			.preview {
				
				display:inline-block;
				overflow: hidden;
				
				& > img{
					width: 180px;
					height : 240px;
				}
				
			}
			
			.action{
				
				margin-top: 10px;
				margin-left: auto;
				margin-right : auto;
				display: inline-block;
			
				& > input {
					margin: auto;
				}
			}	
			
		}
		
			
	}
	
}