.serieManagmentPage{

    width: 100%;
    float: left;

    .serieManagment{

        &.searchResults{

            margin-top: 50px;

            .searchResult{

                border: 1px solid black;

                overflow: hidden;
                width: 200px;
                padding-left: 30px;
                display: inline-block;

                .title{
                    margin: auto;
                    text-align: center;
                    padding-bottom: 20px;
                }

                .preview{

                    padding-bottom: 20px;
                    height: 240px;
                    overflow: hidden;
                    text-align: center;
                    display: inline-block;
                    margin-top: auto;
                    margin-bottom: auto;

                    img{
                        width: 170px;
                        align-content: center;
                    }

                }

            }

        }

    }

}