target/
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.core.resources.prefs
src/main/GUI/.sass-cache
src/main/GUI/node_modules
src/main/GUI/bower_components
src/main/GUI/.tmp
