<div ng-controller="MainCtrl">
	<div class="jumbotron">
	  <h1> Médiathèque </h1>
	  <p class="lead">
		Rechercher un film
		<br>
	    
	  </p>
	  <p>
	  	<input type="text" ng-model="movies.search"/>
	  	<a class="btn btn-lg btn-success" ng-href="#/" ng-click="searchMovie(movies.search)" >Search<span class="glyphicon glyphicon-ok"></span></a></p>
	</div>
	
	<div class="row marketing">
	  	<div>{{movies.response}}</div> 
	</div>
	
	<div class="search result">
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>casting</th>
					<th>genre</th>
					<th>statistique</th>
					<th>link</th>
					<th>Poster</th>
				</tr>
				
			</thead>
			
			<tbody>
				
				<tr ng-repeat="movie in movies.list">
					<td>{{movie.title}}</td>
					<td>{{movie.casting.actors}}</td>
					<td></td>
					<td><a href="{{movie.links[0].href}}">Détails de {{movie.title}} sur allo cine</a></td>
					<td>
						 Evaluation presse : {{movie.statistiques.pressRating}} <br />
						 Evaluation spectateur : {{movie.statistiques.userRating}}
					</td>
					<td>
						<img class="poster" alt="Poster de {{movie.title}}" ng-src="{{movie.poster.href}}">
					</td>
				</tr>
			</tbody>
			
		</table>
	</div>
	
</div>