<div ng-controller="MainCtrl">

<div class="jumbotron">
		<h1>Médiathèque</h1>
		<p class="lead">
			Mes films <br>
		</p>

	</div>

<div class="search result">
	
	<div class="MyMovies movie" ng-repeat="movie in movies.list">
		
		<div class="title">
			<h3>{{movie.title}}</h3>
		</div>
		
		<div class="content">
			
			<p>
				<span>{{movie.title}}</span> est sortie en {{movie.year}}
			</p>
			
			<p>	
				De : <span ng-repeat="person in movie.casting.directors track by $index">{{person}}</span>
			</p>
			
			<p>
				Avec : <span ng-repeat="person in movie.casting.actors track by $index">{{person}}, </span>
			</p>
			
			<p>
				Durée : {{movie.duration | formatDuration}}
			</p>
			
			<p>
				Genre de film : <span ng-repeat="genre in movie.genre track by $index">{{genre.name}}, </span>
			</p>
			
			<p>
				Le film est disponible ici : <span class="location">{{movie.path}}</span>
			</p>
			
			<p>
				<p>
						<span>Evaluation de la presse : </span>	
					<uib-rating ng-model="movie.statistiques.pressRating" max="max"
							read-only="true" on-hover="hoveringOver(value)"
							on-leave="overStar = null"
							titles="['un','deux','trois', 'quatre', 'cinq']"
							aria-labelledby="default-rating"></uib-rating>
				</p>
				<div>
					<p>
						<span>Evaluation public : </span>	
						<uib-rating
							ng-model="movie.statistiques.userRating" max="max"
							read-only="true" on-hover="hoveringOver(value)"
							on-leave="overStar = null"
							titles="['un','deux','trois', 'quatre', 'cinq']"
							aria-labelledby="default-rating"></uib-rating>
						</p>
				</div>
			</p>
			
			<p>
				<span>Résumé :</span> <span ng-bind-html="movie.synospis"></span>
			</p>
			
		</div>
		
		<div class="preview">
			<img ng-src="{{movie.poster.href}}">
		</div>
		
		<div class="clear"/>
		
	</div>
	
</div>