<div ng-controller="MainCtrl">

<div class="jumbotron">
		<h1>Médiathèque</h1>
		<p class="lead">
			Mes films <br>
		</p>

	</div>

<div class="search result">
	
	<label> Recherche : <input ng-model="search" /> </label><br />
	
	
	 <!-- Single button using append-to-body -->
    <div class="btn-group" uib-dropdown dropdown-append-to-body>
    
    <label> Trier par : 
      <button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
        {{sortBy}} <span class="caret"></span>
      </button>
      <br />
<!--       <select class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body"> -->
<!--       	<option >Test 1</option> -->
<!--       </select> -->
      
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
      
        <li role="menuitem"><a ng-click="changeSort('year')">Date de sortie</a></li>
        <li role="menuitem"><a ng-click="changeSort('title')">Titre</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </label>  
    </div>
	
	
	
	<div class="MyMovies movie" ng-repeat="movie in movies.list | filter:search | orderBy: sortKey ">
		
		<div class="title">
			<h3>{{movie.title}}</h3>
		</div>
		
		<div class="content">
			
			<p>
				<span>{{movie.title}}</span> est sortie en {{movie.year}}
			</p>
			
			<p>	
				De : <span ng-repeat="person in movie.casting.directors track by $index">{{person}}</span>
			</p>
			
			<p>
				Avec : <span ng-repeat="person in movie.casting.actors track by $index">{{person}}, </span>
			</p>
			
			<p>
				Durée : {{movie.duration | formatDuration}}
			</p>
			
			<p>
				Genre de film : <span ng-repeat="genre in movie.genre track by $index">{{genre.name}}, </span>
			</p>
			
			<p>
				Le film est disponible ici : <span class="location">{{movie.path}}</span>
			</p>
			
			<p>
				<p>
						<span>Evaluation de la presse : </span>	
					<uib-rating ng-model="movie.statistiques.pressRating" max="max"
							read-only="true" on-hover="hoveringOver(value)"
							on-leave="overStar = null"
							titles="['un','deux','trois', 'quatre', 'cinq']"
							aria-labelledby="default-rating"></uib-rating>
				</p>
				<div>
					<p>
						<span>Evaluation public : </span>	
						<uib-rating
							ng-model="movie.statistiques.userRating" max="max"
							read-only="true" on-hover="hoveringOver(value)"
							on-leave="overStar = null"
							titles="['un','deux','trois', 'quatre', 'cinq']"
							aria-labelledby="default-rating"></uib-rating>
						</p>
				</div>
			</p>
			
			<p class="synospis">
				<span>Résumé :</span> <span ng-bind-html="movie.synospis"></span>
			</p>
			
		</div>
		
		<div class="preview">
			<img ng-src="{{movie.poster.href}}">
		</div>
		
		<div class="clear"/>
		
	</div>
	
</div>