<div ng-controller="SearchlocalmovietoallocineCtrl" class="search-in-allocine">
	
	<h1>Recherche du film : {{movie.title}}</h1>
	
	
	<script type="text/ng-template" id="alert.html">
    <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
      <div ng-transclude></div>
    </div>
	</script>
	
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
	
	<button type="button" class="btn btn-primary" ng-model="editTitle" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
        <span ng-if="!editTitle">Editer le titre</span>
        <span ng-if="editTitle" ng-click="searchMovie(movie)">Rechercher à nouveau</span>
    </button>
	
	<input ng-show="editTitle" type="text" ng-model="movie.title" />
	
	<div class="loading" ng-show="!pageLoaded" >
<!-- 		<img src="images/loading.gif"> -->
		<div class='uil-cube-css' style='-webkit-transform:scale(0.63)'><div></div><div></div><div></div><div></div></div>
	</div>
	
	<br />
	
	<div class="search result">
	
		<div class="movie" ng-repeat="movie in movies.list">
		
			<div class="preview">
				<img class="poster" alt="Poster de {{movie.title}}" ng-src="{{movie.poster.href}}"/>
			</div>
			
			<div class="action">
				<input type="button" class="btn btn-lg btn-success" ng-click="synchronizeMovie( movie.code )" value="Associer" />
			</div>
			
		</div>

		<div class="clear" />
		
	</div>
	
</div>