
<div class="user_page" ng-controller="UserCtrl">

	<div class="title">
		<img src="styles/images/logo-mediatheque.png" alt="logo.png" />
	</div>
	
	<div class="login-page">
	
	
	
	  <div class="form">
	
	    <form class="register-form">
	      <input type="text" placeholder="Utilisateur" ng-model="user.name"/>
	      <input type="text" placeholder="adresse mail" ng-model="user.email"/>
	      <input type="password" placeholder="mot de passe" ng-model="user.password"/>
	      <button ng-click="create()">Créer</button>
	      <p class="message">Déjà enregistré? <a href="" ng-click='askingRegister()'>Connexion</a></p>
	    </form>
	    <form class="login-form">
	      <input type="text" placeholder="username" ng-model="user.name"/>
	      <input type="password" placeholder="password" ng-model="user.password"/>
	      <button ng-click="login()">Connexion</button>
	      <p class="message">Pas de compte? <a href="" ng-click='askingRegister()'>Créer un compte</a></p>
	    </form>
	    
	  </div>
	
	</div>

</div>