<div ng-controller="LoadfromdiskCtrl">
	<div class="jumbotron">
			<h1>Médiathèque</h1>
			<p class="lead">
				Rechercher un film sur disque<br>
	
			</p>
			<p>
				<input type="text" ng-model="movies.path" placeholder="Film" /> <a
					class="btn btn-lg btn-success" ng-href="#/load-disk"
					ng-click="searchOnDisk(movies.path)">Rechercher<span
					class="glyphicon glyphicon-ok"></span></a>
			</p>
	
		</div>
	
		<script type="text/ng-template" id="alert.html">
    <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
      <div ng-transclude></div>
    </div>
	</script>
		
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
	
	<div class="loading" ng-show="!pageLoaded">
		<img src="images/loading.gif">
	</div>
	
	
	<div ng-show="pageLoaded">
		<table>
			<tr ng-repeat="movie in movies.list" ng-class="{synchronized:movie.isSynchronized}">
				<td>{{movie.path}}</td>
				<td>{{movie.title}}</td>
				<td>
					<a ng-if="!movie.isSynchronized" class="btn btn-lg btn-success" type="button" ng-click="searchMovieInAllocine(movie);">Search in allocine</a>
					<a ng-if="movie.isSynchronized" class="btn btn-lg btn-warning" type="button" ng-click="searchMovieInAllocine(movie);">Update in allocine</a>
				</td>
			</tr>
		</table>
	</div>

</div>	
